//font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

%RobotoFont {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

// variables
$mainDarkColor: #1d1d1d;
$mainGreyColor: #565656;
$mainWhiteColor: #ffffff;
$salesRedColor: #ed1331;
$buttonPadding: 10px;
