//font
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

%RobotoFont {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

// variables
$mainDarkColor: #1d1d1d;
$mainGreyColor: #565656;
$mainWhiteColor: #ffffff;
$salesRedColor: #ed1331;
$yellowColor: #fff500;
$yellowDescribeBackground: #fdcc06;
$indigoDescribeBackground: #7002fe;

$buttonPadding: 10px;

$borderRadius10: 10px;
$borderRadius20: 20px;

//mixins
@mixin button($_color, $_backgroundColor, $_fontSize, $_padding) {
  color: $_color;
  background-color: $_backgroundColor;
  font-size: $_fontSize;
  padding: $_padding;
  border: 1px solid $_backgroundColor;
  border-radius: $borderRadius10;
}
