@import "_variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @extend %RobotoFont;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.link {
  text-decoration: none;
}

.salesRedBackground {
  background-color: $salesRedColor;
  border: 1px solid $salesRedColor;
  border-radius: 20px;
}

//header
.header-info {
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  padding: 21px 23px;

  @media (min-width: 768px) {
    font-size: 14px;
  }
}

.header {
  background-color: $mainDarkColor;
}

.header__container {
  padding-top: 16px;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: 1024px) {
    grid-template-columns: 25% 50% 25%;
  }
}

.header__menu {
  display: flex;
  align-items: center;
  color: $mainWhiteColor;
}

.header__location {
  @media (min-width: 1024px) {
    color: $mainWhiteColor;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    font-style: normal;
    text-transform: uppercase;
  }
}

.header__location-icon {
  font-size: 10px;
  margin-right: 3px;
}

.header__nav-icon {
  padding: $buttonPadding;
  padding-left: 0;

  @media (min-width: 1024px) {
    display: none;
  }
}

.header__logo-wrap {
  display: flex;

  @media (min-width: 1024px) {
    margin-right: 20px;
  }
}

.logo {
  display: block;
  color: $mainWhiteColor;
  padding: $buttonPadding;
  text-decoration: none;
  text-transform: uppercase;
}

.header__logo i {
  font-weight: 700;
  font-size: 20px;
}

//user-choise
.header__user-choise-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

// search
.header__search-form {
  position: relative;
  margin: 0 auto;
}

.header__search-input {
  height: 100%;
  width: 0;
  padding: 0 24px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.header__search-input:focus {
  width: 200px;
  z-index: 1;
  border: 1px solid $mainWhiteColor;
  border-radius: 10px;
  background-color: $mainDarkColor;

  @media (min-width: 768px) {
    width: 300px;
  }
}

.header__search-button {
  border: none;
  background: none;
}

.header__search-icon {
  font-size: 16px;
  padding: $buttonPadding;
  color: $mainWhiteColor;
}

.nav-ul {
  list-style: none;
}
.nav-ul__li {
  display: inline;
  text-align: center;
}

.salesRedBackground.nav-ul__a {
  padding: 10px 20px;
}

.nav-ul__a {
  padding: $buttonPadding;
}

.nav-ul__a_white-font {
  color: $mainWhiteColor;
}

.nav-ul__a_grey-font {
  color: $mainGreyColor;
}

.nav-ul__a_uppercase {
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .header__main-nav {
    display: flex;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
  }

  .nav-ul_grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

//main

//main__nav-product-types
.main__nav-product-types {
  @media (min-width: 1024px) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
