@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: minmax(50px, auto) minmax(50px, auto) 1fr minmax(50px, auto);
}

html,
body {
  min-height: 100vh;
}

.container {
  width: 90vw;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.link {
  text-decoration: none;
}

.salesRedBackground {
  background-color: #ed1331;
  border: 1px solid #ed1331;
  border-radius: 20px;
}

.img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-info {
  text-align: center;
  font-weight: 600;
  font-size: 10px;
  padding: 21px 23px;
}
@media (min-width: 768px) {
  .header-info {
    font-size: 14px;
  }
}

.header {
  background-color: #1d1d1d;
}

.header__container {
  padding-top: 16px;
  padding-bottom: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 1024px) {
  .header__container {
    grid-template-columns: 25% 50% 25%;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

@media (min-width: 1024px) {
  .header__location {
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
    font-style: normal;
    text-transform: uppercase;
  }
}

.header__location-icon {
  font-size: 10px;
  margin-right: 3px;
}

.header__nav-icon {
  padding: 10px;
  padding-left: 0;
}
@media (min-width: 1024px) {
  .header__nav-icon {
    display: none;
  }
}

.header__logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 1024px) {
  .header__logo-wrap {
    margin-right: 20px;
  }
}

.logo {
  display: block;
  color: #ffffff;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.header__logo i {
  font-weight: 700;
  font-size: 20px;
}

.header__user-choise-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__search-form {
  position: relative;
  margin: 0 auto;
}

.header__search-input {
  height: 100%;
  width: 0;
  padding: 0 24px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  -webkit-transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.header__search-input:focus {
  width: 200px;
  z-index: 1;
  border: 1px solid #ffffff;
  border-radius: 10px;
  background-color: #1d1d1d;
}
@media (min-width: 768px) {
  .header__search-input:focus {
    width: 300px;
  }
}

.header__search-button {
  border: none;
  background: none;
}

.header__search-icon {
  font-size: 16px;
  padding: 10px;
  color: #ffffff;
}

.nav-ul {
  list-style: none;
}

.nav-ul__li {
  display: inline;
  text-align: center;
}

.salesRedBackground.nav-ul__a {
  padding: 10px 20px;
}

.nav-ul__a {
  padding: 10px;
}

.nav-ul__a_white-font {
  color: #ffffff;
}

.nav-ul__a_grey-font {
  color: #565656;
}

.nav-ul__a_uppercase {
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .header__main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-template-rows: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .nav-ul_grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1024px) {
  .main__nav-product-types {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.presentation .container {
  width: 100vw;
}
@media (min-width: 1024px) {
  .presentation .container {
    width: 90vw;
  }
}

.presentation {
  position: relative;
}

.presentation__images {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff500;
}
@media (min-width: 1024px) {
  .presentation__images {
    background: none;
    grid-template-columns: repeat(3, 1fr);
  }
}

.presentation__img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  display: block;
  height: 418px;
}
@media (min-width: 1024px) {
  .presentation__img {
    height: 646px;
    width: 100%;
  }
}
@media (min-width: 1550px) {
  .presentation__img {
    height: 900px;
  }
}

.presentation__img:first-child,
.presentation__img:last-child {
  display: none;
}
@media (min-width: 1024px) {
  .presentation__img:first-child,
  .presentation__img:last-child {
    display: block;
  }
}

.presentation__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1d1d1d;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 250px;
  height: 200px;
}
@media (min-width: 1024px) {
  .presentation__info {
    width: 607px;
    height: 381px;
  }
}

.presentation__inspo {
  text-align: center;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 40px;
}
@media (min-width: 1024px) {
  .presentation__inspo {
    font-size: 64px;
  }
}

.presentation__title {
  text-align: center;
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 18px;
}
@media (min-width: 1024px) {
  .presentation__title {
    font-size: 30px;
  }
}

.button-to-catalog {
  color: #ffffff;
  background-color: #565656;
  font-size: 14px;
  padding: 13px 27px;
  border: 1px solid #565656;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  text-transform: uppercase;
}

.clothes-types-nav {
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .clothes-types-nav {
    margin-bottom: 80px;
  }
}

.new-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}
@media (min-width: 1024px) {
  .new-products {
    position: relative;
    height: 548px;
  }
}

.new-products__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}
@media (min-width: 1024px) {
  .new-products__info {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    top: 0;
    left: 410px;
  }
}

.new-products__title {
  color: #1d1d1d;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .new-products__title {
    font-size: 32px;
    margin-bottom: 26px;
  }
}

.new-products__description {
  color: #565656;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
@media (min-width: 1024px) {
  .new-products__description {
    text-align: start;
  }
}

.new-products__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1024px) {
  .new-products__slider {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 548px;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.new-products__first-child {
  width: 300px;
  height: 186px;
  margin: 0 auto 20px;
}
@media (min-width: 1024px) {
  .new-products__first-child {
    height: 548px;
    width: 320px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 50px;
  }
}
@media (max-width: 1023px) {
  .new-products__first-child .new-products__img:first-child {
    width: 100%;
    height: 186px;
  }
}

.new-products__last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 1024px) {
  .new-products__last-child {
    gap: 20px;
    margin-left: 40px;
    margin-bottom: 30px;
  }
}
.new-products__last-child .new-products__img {
  width: 140px;
  max-width: 186px;
  height: 258px;
}
@media (min-width: 1024px) {
  .new-products__last-child .new-products__img {
    width: 203px;
    height: 301px;
  }
}

.new-products__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1023px) {
  .new-products__product:last-child {
    display: none;
  }
}

.new-products__brand {
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #565656;
}

.new-product__product-link:first-child {
  display: block;
}

.new-product__product-link:last-child {
  display: none;
}

@media (min-width: 1024px) {
  .new-product__product-link:first-child {
    display: none;
  }

  .new-product__product-link:last-child {
    display: block;
    height: 100%;
  }
}
.pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination a {
  display: inline-block;
  padding: 10px 18px;
  width: 15px;
  height: 3px;
  padding: 0;
  margin: auto 5px;
  background-color: rgba(86, 86, 86, 0.8);
  border-radius: 3px;
}

.pagination .is-active {
  background-color: #1d1d1d;
}

.new-products__pagination {
  text-align: center;
  margin-top: 20px;
}
@media (min-width: 1024px) {
  .new-products__pagination {
    position: absolute;
    bottom: 0;
    left: 410px;
    text-align: start;
  }
}

.swiper {
  width: 100%;
  height: 463px;
}

.popular-section__product_desktop {
  display: none;
}
@media (min-width: 1024px) {
  .popular-section__product_desktop {
    display: block;
  }
}

.popular-section__product-img-link {
  width: 140px;
  max-width: 163px;
  height: 258px;
}
@media (min-width: 1024px) {
  .popular-section__product-img-link {
    width: 300px;
    height: 463px;
  }
}

.popular-section__swiper-img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.popular-section__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popular-section__title {
  font-size: 20px;
  font-weight: 600;
  color: #1d1d1d;
  text-transform: uppercase;
}

.popular-section__product-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.popular-section__button-to-catalog {
  color: #1d1d1d;
  background-color: #ffffff;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.popular-section__swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.popular-section__product-price-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.popular-section__brand-link,
.popular-section__product-link {
  color: grey;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}

.popular-section__button-to-cart {
  color: #1d1d1d;
  background-color: #ffffff;
  font-size: 14px;
  padding: 0;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

.actual-products .popular-section__title {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 60px;
}

.describe-socials-wrap {
  background-color: #ff4003;
  color: #ffffff;
}
@media (min-width: 1024px) {
  .describe-socials-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.describe-section .container,
.socials-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 45px;
}
@media (min-width: 1024px) {
  .describe-section .container,
  .socials-section .container {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 66px 0;
  }
}

.describe-section {
  background-color: #fdcc06;
}
@media (min-width: 1024px) {
  .describe-section {
    background: none;
    width: 70%;
    margin-left: 5vw;
  }
}

.describe-section__title {
  font-size: 40px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 245px;
  margin-bottom: 20px;
}
@media (min-width: 1024px) {
  .describe-section__title {
    font-size: 20px;
    margin-right: 50px;
    margin-bottom: 0;
    text-align: start;
    display: inline;
  }
}

.describe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1024px) {
  .describe-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.describe-section__email {
  font-weight: 400;
  font-size: 14px;
  color: #1d1d1d;
  padding-left: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 100%;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
}
@media (min-width: 350px) {
  .describe-section__email {
    width: 250px;
    margin-bottom: 0;
  }
}

.describe-section__subscribe-button {
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 20px;
  border: none;
  background-color: #1d1d1d;
  color: inherit;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
}
@media (min-width: 350px) {
  .describe-section__subscribe-button {
    width: 200px;
    margin-left: -25px;
  }
}

.socials-section {
  background-color: #7002fe;
}
@media (min-width: 1024px) {
  .socials-section {
    background: none;
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 5vw;
  }
}
@media (min-width: 1024px) {
  .socials-section .container {
    width: 100%;
    padding-left: 50px;
  }
}

.socials-section__title {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin-bottom: 30px;
  max-width: 343px;
}
@media (min-width: 1024px) {
  .socials-section__title {
    display: none;
  }
}

.socials-section__socials-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials-section__socials-wrap .link {
  width: 38px;
  height: 38px;
}
.socials-section__socials-wrap .link:not(:last-child) {
  margin-right: 15px;
}

.socials-wrap__social-logo {
  width: 100%;
  height: 100%;
}

.footer {
  font-weight: 400;
  font-size: 14px;
  color: #1d1d1d;
}

.footer__nav {
  margin: 45px auto;
}
@media (min-width: 767px) {
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer__nav-li {
  display: block;
  margin-bottom: 10x;
  padding: 5px 10px;
}

.footer__a-title {
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}

.footer__a {
  display: block;
}

.salesColor {
  color: #ed1331;
}

.footer__payment-systems-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__payment-systems-logo:not(:last-child) {
  margin-right: 20px;
}

.hr-line {
  color: #dbdbdb;
}

.copyright-info {
  text-align: center;
  margin: 25px auto;
  font-weight: 500;
  font-size: 13px;
  color: #1d1d1d;
}

/*# sourceMappingURL=style.css.map */